<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>on finsh page</title>
    <script src="../../js/jspsych/jspsych.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../js/jspsych/plugin-html-keyboard-response.js"></script>

    <link href="../../css/jspsych.css" rel="stylesheet" type="text/css" />

</head>
<body>
</body>
<script>
const jsPsych = initJsPsych();

// Create finish screen
// var end_block = {
//     data: {
//         screen_id: "end_exp"
//     },
//     type: jsPsychHtmlKeyboardResponse,
//     stimulus: "Your data has been saved. <p>You can now close this screen</p>"
// };
//Prolific completion page
var end_block = {
  type: jsPsychHtmlKeyboardResponse,
  stimulus: `<p>You've finished the last task. Your data has been saved. Thanks for participating!</p>
    <p><a href="https://app.prolific.co/submissions/complete?cc=CBFRV4OW">Click here to return to Prolific and complete the study</a>.</p>`,
  choices: "NO_KEYS"
}
//var end_block = {
//   type: jsPsychHtmlKeyboardResponse,
//   stimulus: `<p>You've finished the last task. Your data has been saved. Thanks for participating!</p>`,
//   choices: "NO_KEYS"
// }

var timeline = []
timeline.push(end_block);

//Start Experiment
jsPsych.run(timeline);

</script>
</html>
